extends layouts/main

include mixins/assets.jade
include mixins/forms.jade

block content
  section(ng-controller='LoginCtrl as login')
    h1= title
    p Log into an existing account.
    p Don't have an account? #[a(href='/signup') Sign up] instead.
    +form()(ng-submit!='form.$valid && login.submit(data)')
      +email()(
        required
        ng-model='data.email'
      )
      +password()(
        required
        ng-model='data.password'
      )
      +submit('Login')
